In [22]:
from etl_config import *
from transform import *
from load_data import LoadData
from transform import Transform
from pandas.testing import assert_frame_equal
import pandas as pd

import os
import shutil

nameofApp = 'LastFManalysisTest'

In [2]:
pwd

'/Users/kazi.rahman/Desktop/pyspark_learning/spark_vscodechange/jobs'

In [29]:
spark_ip = LoadData( nameofApp , input_location = '../test_output/Input_test.tsv')
spark_ip.read_data()

trans = Transform(spark_ip.data)

trans.transform_q2()
trans.transform_q1()
trans.transform_q3()

In [31]:
assert_frame_equal(trans.output3.toPandas() , pd.read_csv('../test_output/Output3.tsv',sep='\t'))

In [32]:
assert_frame_equal(trans.output2.toPandas() , pd.read_csv('../test_output/Output2.tsv',sep='\t'))

In [34]:
assert_frame_equal(trans.output3.toPandas() , pd.read_csv('../test_output/Output3.tsv',sep='\t'))

assert_frame_equal(trans.output2.toPandas() , pd.read_csv('../test_output/Output2.tsv',sep='\t'))


assert_frame_equal(
    trans.output1.toPandas().applymap(str) , 
    pd.read_csv('../test_output/Output1.tsv',sep='\t').applymap(str))

In [26]:
pd.read_csv('../test_output/Output3.tsv',sep='\t')

        userId  Distinct Songs
0  user_000001              68

In [40]:
assert(spark_ip.data.count() ==0)

AssertionError:

In [4]:
spark_ip.session.spark

In [13]:
spark_ip.input_location

'../lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv'

In [19]:
spark_ip.data.show()

+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
|     userId|          timestamp|               artId|        artName|               traid|            SongName|
+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
|     userId|               null|               artId|        artName|               traid|            SongName|
|user_000001|2009-05-04 21:54:10|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Composition 0919 ...|
|user_000001|2009-05-04 21:52:04|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc2 (Live_2009_4_15)|
|user_000001|2009-05-04 21:42:52|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Hibari (Live_2009...|
|user_000001|2009-05-04 21:42:11|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc1 (Live_2009_4_15)|
|user_000001|2009-05-04 21:38:31|a7f7df4a-77d8-4f1...|       坂本龍一|                null|To Stanford (Live...|
|user_000001|2009-05-04 21:33:28|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Improvisation (Li...|
|user_000001|2009-05-04 21:23:45|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Glacier (Live_200...|
|user_000001|2009-05-04 21:19:22|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Parolibre (Live_2...|
|user_000001|2009-05-04 21:13:38|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Bibo No Aozora (L...|
|user_000001|2009-05-04 21:06:09|a7f7df4a-77d8-4f1...|       坂本龍一|f7c1f8f8-b935-45e...|The Last Emperor ...|
|user_000001|2009-05-04 21:00:48|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Happyend (Live_20...|
|user_000001|2009-05-04 20:55:34|a7f7df4a-77d8-4f1...|       坂本龍一|475d4e50-cebb-4cd...|Tibetan Dance (Ve...|
|user_000001|2009-05-04 20:51:26|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Behind The Mask (...|
|user_000001|2009-05-03 23:48:25|ba2f4f3b-0293-4bc...|     Underworld|dc394163-2b78-4b5...|Boy, Boy, Boy (Sw...|
|user_000001|2009-05-03 23:37:56|ba2f4f3b-0293-4bc...|     Underworld|340d9a0b-9a43-409...|Crocodile (Innerv...|
|user_000001|2009-05-03 23:14:53|a16e47f5-aa54-47f...|Ennio Morricone|0b04407b-f517-4e0...|Ninna Nanna In Bl...|
|user_000001|2009-05-03 23:10:18|463a94f1-2713-40b...|        Minus 8|4e78efc4-e545-47a...|      Elysian Fields|
|user_000001|2009-05-03 23:04:31|ad0811ea-e213-451...|      Beanfield|fb51d2c4-cc69-412...|  Planetary Deadlock|
|user_000001|2009-05-03 22:56:25|309e2dfc-678e-4d0...|       Dj Linus|4277434f-e3c2-41a...|Good Morning Love...|
+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [4]:
spark_ip = LoadData( nameofApp , input_location = '../test_output/new_try.tsv')
spark_ip.read_data()
# spark_ip.data = spark_ip.data.drop('_c0')

spark_op2 = LoadData( nameofApp, input_location = '../test_output/Output2.csv' )
spark_op2.read_data()
spark_op2.data = spark_op2.data.drop('_c0')


trans = Transform(spark_ip.data)
trans.transform_q2()
trans.transform_q1()
trans.transform_q3()

In [5]:
spark_ip.data.

[('userId', 'string'),
 ('timestamp', 'timestamp'),
 ('artId', 'string'),
 ('artName', 'string'),
 ('traid', 'string'),
 ('SongName', 'string')]

In [6]:
spark_ip.data.show()

+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
|     userId|          timestamp|               artId|        artName|               traid|            SongName|
+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
|user_000001|2009-05-04 21:54:10|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Composition 0919 ...|
|user_000001|2009-05-04 21:52:04|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc2 (Live_2009_4_15)|
|user_000001|2009-05-04 21:42:52|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Hibari (Live_2009...|
|user_000001|2009-05-04 21:42:11|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Mc1 (Live_2009_4_15)|
|user_000001|2009-05-04 21:38:31|a7f7df4a-77d8-4f1...|       坂本龍一|                null|To Stanford (Live...|
|user_000001|2009-05-04 21:33:28|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Improvisation (Li...|
|user_000001|2009-05-04 21:23:45|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Glacier (Live_200...|
|user_000001|2009-05-04 21:19:22|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Parolibre (Live_2...|
|user_000001|2009-05-04 21:13:38|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Bibo No Aozora (L...|
|user_000001|2009-05-04 21:06:09|a7f7df4a-77d8-4f1...|       坂本龍一|f7c1f8f8-b935-45e...|The Last Emperor ...|
|user_000001|2009-05-04 21:00:48|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Happyend (Live_20...|
|user_000001|2009-05-04 20:55:34|a7f7df4a-77d8-4f1...|       坂本龍一|475d4e50-cebb-4cd...|Tibetan Dance (Ve...|
|user_000001|2009-05-04 20:51:26|a7f7df4a-77d8-4f1...|       坂本龍一|                null|Behind The Mask (...|
|user_000001|2009-05-03 23:48:25|ba2f4f3b-0293-4bc...|     Underworld|dc394163-2b78-4b5...|Boy, Boy, Boy (Sw...|
|user_000001|2009-05-03 23:37:56|ba2f4f3b-0293-4bc...|     Underworld|340d9a0b-9a43-409...|Crocodile (Innerv...|
|user_000001|2009-05-03 23:14:53|a16e47f5-aa54-47f...|Ennio Morricone|0b04407b-f517-4e0...|Ninna Nanna In Bl...|
|user_000001|2009-05-03 23:10:18|463a94f1-2713-40b...|        Minus 8|4e78efc4-e545-47a...|      Elysian Fields|
|user_000001|2009-05-03 23:04:31|ad0811ea-e213-451...|      Beanfield|fb51d2c4-cc69-412...|  Planetary Deadlock|
|user_000001|2009-05-03 22:56:25|309e2dfc-678e-4d0...|       Dj Linus|4277434f-e3c2-41a...|Good Morning Love...|
|user_000001|2009-05-03 22:50:51|6f3d4a7b-45b2-4c0...|      Alif Tree|1151b040-8022-496...|      Deadly Species|
+-----------+-------------------+--------------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [9]:
pwd../test_output/

'/Users/kazi.rahman/Desktop/pyspark_learning/spark_vscodechange/jobs'

In [25]:
trans.output1.toPandas()

,userId,list of Songs,start_session,end_session,total_session_inMins
0,user_000001,"[Backspin, Rasta Baby, Simmer Down Jammie, Tak...",2009-05-02 21:00:30,2009-05-02 23:29:50,155.0
1,user_000001,"[Elysian Fields, Three, Seven, Beach Towel, An...",2009-05-03 21:13:25,2009-05-03 23:14:53,133.0
2,user_000001,"[Rasta Baby, Backspin, Headspin, Simmer Down J...",2009-05-01 16:37:58,2009-05-01 18:07:40,90.0
3,user_000001,"[Tibetan Dance (Version), The Last Emperor (Th...",2009-05-04 20:55:34,2009-05-04 21:54:10,63.0
4,user_000001,"[Are We? (Feat. Michelle Amador), The Crush, S...",2009-05-01 19:55:00,2009-05-01 20:18:14,28.0
5,user_000001,[Animals (Luciano Remix)],2009-05-01 22:07:16,2009-05-01 22:07:16,12.0
6,user_000001,"[Boy, Boy, Boy (Switch Remix)]",2009-05-03 23:48:25,2009-05-03 23:48:25,10.0

In [26]:
trans.output3.toPandas().set_index('userId').to_csv('../test_output/Output3.tsv',sep='\t')
trans.output2.toPandas().set_index('artist').to_csv('../test_output/Output2.tsv',sep='\t')
trans.output1.toPandas().set_index('userId').to_csv('../test_output/Output1.tsv',sep='\t')

In [19]:
from pandas.testing import assert_frame_equal

In [27]:
assert_frame_equal(trans.output3.toPandas() , pd.read_csv('../test_output/Output3.tsv',sep='\t'))

assert_frame_equal(trans.output2.toPandas() , pd.read_csv('../test_output/Output2.tsv',sep='\t'))


assert_frame_equal(
    trans.output1.toPandas().applymap(str) , 
    pd.read_csv('../test_output/Output1.tsv',sep='\t').applymap(str))

In [28]:
assert_frame_equal(trans.output2.toPandas() , pd.read_csv('../test_output/Output2.tsv',sep='\t'))

In [72]:
assert_frame_equal(
    trans.output1.toPandas().applymap(str) , 
    pd.read_csv('../test_output/Output1.tsv',sep='\t').applymap(str))

In [14]:
pd.read_csv('../test_output/Output3.tsv',sep='\t')

        userId  Distinct Songs
0  user_000001              68

In [166]:
spark_ip.data.dtypes

[('userId', 'string'),
 ('timestamp', 'string'),
 ('artId', 'string'),
 ('artName', 'string'),
 ('traid', 'string'),
 ('SongName', 'string')]

In [122]:
spark_ip.data.toPandas().drop('_c0',axis=1).set_index('userId').to_csv('./new_try.tsv',index=True,sep='\t')

In [6]:
spark_op2.data.show()

+-------------------+--------------------+---------+
|             artist|               title|Frequency|
+-------------------+--------------------+---------+
|           Marc Mac|            Backspin|        6|
|           Marc Mac|            Footwork|        5|
|           Marc Mac|              Freeze|        5|
|           Marc Mac|         Jazz Flares|        5|
|          Minilogue|Animals (Luciano ...|        4|
|              Gelka|          Rasta Baby|        4|
|      Rocket Empire|  Simmer Down Jammie|        3|
|          Lisa Shaw|Inside My Love (E...|        3|
|     Samantha James|           Amber Sky|        3|
|              4Hero|       Morning Child|        2|
|         Pc Synergy|        Ready 2 Wear|        2|
|   The Young Lovers|How Lonely Does I...|        1|
|           坂本龍一|Happyend (Live_20...|        1|
|Bombay Bicycle Club|You Already Know ...|        1|
|            Minus 8|         Cold Fusion|        1|
|              4Hero|Play With The Cha...|        1|
|              Clark|       Growls Garden|        1|
|          Masomenos|                 Six|        1|
|              4Hero|             Give In|        1|
|              4Hero|       The Awakening|        1|
+-------------------+--------------------+---------+
only showing top 20 rows

In [7]:
trans.output2.show()

+-------------------+--------------------+---------+
|             artist|               title|Frequency|
+-------------------+--------------------+---------+
|           Marc Mac|            Backspin|        6|
|           Marc Mac|         Jazz Flares|        5|
|           Marc Mac|            Footwork|        5|
|           Marc Mac|              Freeze|        5|
|          Minilogue|Animals (Luciano ...|        4|
|              Gelka|          Rasta Baby|        4|
|      Rocket Empire|  Simmer Down Jammie|        3|
|          Lisa Shaw|Inside My Love (E...|        3|
|     Samantha James|           Amber Sky|        3|
|         Pc Synergy|        Ready 2 Wear|        2|
|              4Hero|       Morning Child|        2|
|           坂本龍一|Mc1 (Live_2009_4_15)|        1|
|              4Hero|Play With The Cha...|        1|
|Bombay Bicycle Club|You Already Know ...|        1|
|           坂本龍一|Mc2 (Live_2009_4_15)|        1|
|            Minus 8|      Elysian Fields|        1|
|          Ivan Enot|Grooves Of The Heart|        1|
|              4Hero|         Look Inside|        1|
|              Clark|       Growls Garden|        1|
|          Minilogue|Animals (Tolga Fi...|        1|
+-------------------+--------------------+---------+
only showing top 20 rows

In [17]:
trans.output2.withColumn('Frequency',F.col('Frequency').cast(IntegerType())).collect() == spark_op2.data.collect()

False

In [15]:
trans.output2.withColumn('Frequency',F.col('Frequency').cast(IntegerType())).collect()

[Row(artist='Marc Mac', title='Backspin', Frequency=6),
 Row(artist='Marc Mac', title='Footwork', Frequency=5),
 Row(artist='Marc Mac', title='Freeze', Frequency=5),
 Row(artist='Marc Mac', title='Jazz Flares', Frequency=5),
 Row(artist='Minilogue', title='Animals (Luciano Remix)', Frequency=4),
 Row(artist='Gelka', title='Rasta Baby', Frequency=4),
 Row(artist='Rocket Empire', title='Simmer Down Jammie', Frequency=3),
 Row(artist='Lisa Shaw', title='Inside My Love (Extended Mix)', Frequency=3),
 Row(artist='Samantha James', title='Amber Sky', Frequency=3),
 Row(artist='Pc Synergy', title='Ready 2 Wear', Frequency=2),
 Row(artist='4Hero', title='Morning Child', Frequency=2),
 Row(artist='The Young Lovers', title='How Lonely Does It Get', Frequency=1),
 Row(artist='坂本龍一', title='Happyend (Live_2009_4_15)', Frequency=1),
 Row(artist='4Hero', title='Play With The Changes', Frequency=1),
 Row(artist='Bombay Bicycle Club', title='You Already Know (Feat. Kathryn Williams)', Frequency=1),
 Row(artist='Masomenos', title='Six', Frequency=1),
 Row(artist='Minus 8', title='Cold Fusion', Frequency=1),
 Row(artist='4Hero', title='The Awakening', Frequency=1),
 Row(artist='坂本龍一', title='Mc2 (Live_2009_4_15)', Frequency=1),
 Row(artist='Clark', title='Growls Garden', Frequency=1),
 Row(artist='Minilogue', title='Animals (Tolga Fidan Remix)', Frequency=1),
 Row(artist='Ivan Enot', title='Grooves Of The Heart', Frequency=1),
 Row(artist='Minus 8', title='Elysian Fields', Frequency=1),
 Row(artist='Masomenos', title='Two', Frequency=1),
 Row(artist='4Hero', title='Give In', Frequency=1),
 Row(artist='The Young Lovers', title='You Make Me Dizzy', Frequency=1),
 Row(artist='坂本龍一', title='Mc1 (Live_2009_4_15)', Frequency=1),
 Row(artist='坂本龍一', title='Hibari (Live_2009_4_15)', Frequency=1),
 Row(artist='4Hero', title='Look Inside', Frequency=1),
 Row(artist='Rithma', title='Map Point Baby (The Hue Remix)', Frequency=1),
 Row(artist='坂本龍一', title='Tibetan Dance (Version)', Frequency=1),
 Row(artist='Beanfield', title='Planetary Deadlock', Frequency=1),
 Row(artist='Karma', title='Are We? (Feat. Michelle Amador)', Frequency=1),
 Row(artist='Masomenos', title='Five', Frequency=1),
 Row(artist='Marsmobil', title='Sovatex 2055', Frequency=1),
 Row(artist='Masomenos', title='Seven', Frequency=1),
 Row(artist='坂本龍一', title='Improvisation (Live_2009_4_15)', Frequency=1),
 Row(artist='坂本龍一', title='Parolibre (Live_2009_4_15)', Frequency=1),
 Row(artist='4Hero', title='Take My Time', Frequency=1),
 Row(artist='Losoul', title='The Crush', Frequency=1),
 Row(artist='Deep Dish', title='Fuck Me Im Famous (Pacha Ibiza)-09-28-2007', Frequency=1),
 Row(artist='坂本龍一', title='To Stanford (Live_2009_4_15)', Frequency=1),
 Row(artist='Woolfy Vs. Projections', title='Carry On', Frequency=1),
 Row(artist='坂本龍一', title='The Last Emperor (Theme)', Frequency=1),
 Row(artist='Masomenos', title='Eight', Frequency=1),
 Row(artist='Rithma', title='(The Only) Dark In The Light (Steve Sampling Mix)', Frequency=1),
 Row(artist='Dj Linus', title='Good Morning Love Coffee Is Ready', Frequency=1),
 Row(artist='4Hero', title='Something In The Way', Frequency=1),
 Row(artist="J. Boogie'S Dubtronic Science", title='Leave It All Behind (Feat. The Rebirth & Aima The Dreamer)', Frequency=1),
 Row(artist='Wei-Chi', title='Clouds', Frequency=1),
 Row(artist='4Hero', title='Sink Or Swim', Frequency=1),
 Row(artist='Ennio Morricone', title='Ninna Nanna In Blu (Raw Deal Remix)', Frequency=1),
 Row(artist='Alif Tree', title='Deadly Species', Frequency=1),
 Row(artist='Masomenos', title='Four', Frequency=1),
 Row(artist='Masomenos', title='Three', Frequency=1),
 Row(artist='Karma', title='Beach Towel', Frequency=1),
 Row(artist='Marc Mac', title='Headspin', Frequency=1),
 Row(artist='坂本龍一', title='Behind The Mask (Live_2009_4_15)', Frequency=1),
 Row(artist='4Hero', title='Stoke Up The Fire', Frequency=1),
 Row(artist='坂本龍一', title='Composition 0919 (Live_2009_4_15)', Frequency=1),
 Row(artist='Home & Garden', title='Someday (Feat. Lisa Shaw)', Frequency=1),
 Row(artist='Underworld', title='Boy, Boy, Boy (Switch Remix)', Frequency=1),
 Row(artist='Underworld', title='Crocodile (Innervisions Orchestra Mix)', Frequency=1),
 Row(artist='Nicken', title='Lifeb', Frequency=1),
 Row(artist='坂本龍一', title='Glacier (Live_2009_4_15)', Frequency=1),
 Row(artist='Kissey Asplund', title='Move Me [Feat. Soliloquy]', Frequency=1),
 Row(artist='Impossible Beings', title='Dois Pólos', Frequency=1),
 Row(artist='Minilogue', title="Animals (Beat Pharmacy ' Into The Wild Dub Remix)", Frequency=1),
 Row(artist='坂本龍一', title='Bibo No Aozora (Live_2009_4_15)', Frequency=1)]

In [23]:
dfop = spark_op2.data.toPandas()

In [24]:
dfop1 = trans.output2.toPandas()

In [23]:
spark_op2.data.toPandas().shape

(69, 3)

In [11]:
dfop.head()

      artist                    title  Frequency
0   Marc Mac                 Backspin          6
1   Marc Mac                 Footwork          5
2   Marc Mac                   Freeze          5
3   Marc Mac              Jazz Flares          5
4  Minilogue  Animals (Luciano Remix)          4

In [12]:
dfop == dfop1

    artist  title  Frequency
0     True   True       True
1     True   True       True
2     True   True       True
3     True   True       True
4     True   True       True
..     ...    ...        ...
64   False  False       True
65   False  False       True
66    True   True       True
67    True   True       True
68    True   True       True

[69 rows x 3 columns]

In [25]:
dfop[~(dfop == dfop1)]

    artist                     title  Frequency
0      NaN                       NaN        NaN
1      NaN                       NaN        NaN
2      NaN                       NaN        NaN
3      NaN                       NaN        NaN
4      NaN                       NaN        NaN
..     ...                       ...        ...
64  Nicken                     Lifeb        NaN
65    坂本龍一  Glacier (Live_2009_4_15)        NaN
66     NaN                       NaN        NaN
67     NaN                       NaN        NaN
68     NaN                       NaN        NaN

[69 rows x 3 columns]

In [26]:
dfop1[~(dfop == dfop1)]

            artist                      title  Frequency
0              NaN                        NaN        NaN
1              NaN                        NaN        NaN
2              NaN                        NaN        NaN
3              NaN                        NaN        NaN
4              NaN                        NaN        NaN
..             ...                        ...        ...
64            坂本龍一   Glacier (Live_2009_4_15)        NaN
65  Kissey Asplund  Move Me [Feat. Soliloquy]        NaN
66             NaN                        NaN        NaN
67             NaN                        NaN        NaN
68             NaN                        NaN        NaN

[69 rows x 3 columns]

In [1]:
#!/usr/bin/env python


############# HouseKeeping #####################

from test_etl_config import *

from load_data import LoadData
from transform import Transform
from pandas.testing import assert_frame_equal
import pandas as pd

import os
import shutil


class UnitTest():

    def __init__(self,nameofApp) :

        self.sparkSess = None
        self.trans = None
        self.nameofApp = nameofApp
        self.success = 0
        self.failure = 0


    def test_loadData(self):

        self.sparkSess = LoadData( self.nameofApp , input_location = config['input_location'] )

        self.sparkSess.read_data()

        try :
            assert( self.sparkSess.data.count() != 0 )

            print('--------- Successfull Run LoadData ------------')
            self.success += 1

        except AssertionError as msg:  

            self.failure +=1

            print(msg)
            



    def test_transformq1(self):

        self.trans = Transform(self.sparkSess.data)

        self.trans.transform_q1()

        try:

            assert_frame_equal(
                self.trans.output1.toPandas().applymap(str) , 
                pd.read_csv('../test_output/Output1.tsv',sep='\t').applymap(str))

            print('--------- Successfull Run Transformq1 ------------')
            self.success += 1

        except AssertionError as msg:  
            print(msg) 
            self.failure +=1

    def test_transformq2(self):

        self.trans = Transform(self.sparkSess.data)
        
        self.trans.transform_q2()

        try :

            assert_frame_equal(self.trans.output2.toPandas() ,
                                pd.read_csv(config['output_location2'] ,sep='\t'))

            print('--------- Successfull Run Transformq2 ------------')
            self.success += 1

        except AssertionError as msg:  
            print(msg) 
            self.failure +=1

    def test_transformq3(self):

        self.trans = Transform(self.sparkSess.data)
        
        self.trans.transform_q3()
        try :
            assert_frame_equal(self.trans.output3.toPandas() ,
                             pd.read_csv(config['output_location3'] ,sep='\t'))

            print('--------- Successfull Run Transformq3 ------------')
            self.success += 1


        except AssertionError as msg:  
            print(msg) 
            self.failure +=1

In [2]:
config['output_location1']

'../test_output/Output1.csv'

In [5]:
pwd

'/Users/kazi.rahman/Desktop/pyspark_learning/spark_vscodechange/jobs'

In [2]:


    unitTest = UnitTest('Unitesting')

    unitTest.test_loadData()


    unitTest.test_transformq1()

    unitTest.test_transformq2()

    unitTest.test_transformq3()

    print(f'Number of Successful Run {unitTest.success} ')

    print(f'Number of Failed Run {unitTest.failure} ')

--------- Successfull Run LoadData ------------

NameError: name 'trans' is not defined